<%= form_with(model: @user,local: true) do |f| %>
    <% @if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= @user.errors.count %>件のエラーがあります</h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class='user_name'>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div class='user_email'>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    
    <div class='user_password'>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    
    <div class='user_password_confirmation'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    
    <%= f.submit 'Create my account'>
<% end %>
    
    
