<h2></h2>
<%= notice %>

<table>
    <tr>
        <th>Content</th>
        <th>Image</th>
        <th>User</th>
    </tr>
    
    <tr>
    <% @pictures.each do |picture| %>
        <td><%= picture.content %></td>
        <td><%= picture.image %></td>
        <td><%= picture.user.name %></td>
        <td><%= link_to '詳細を見る',picture_path(picture.id) %></td>
        <td><%= link_to '編集する',edit_picture_path(picture.id) %></td>
        <td><%= link_to '削除する',picture_path(picture.id),data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></td>
    <% end %>
    </tr>
</table>

<%= link_to 'Pictureを投稿する',new_picture_path %>
    

